client_secret*
secure.properties
keystore.properties
/db_baks
/art
cyclotrack-keystore
/app/release
/app/prod

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/misc.xml
/.idea/.name
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/androidTestResultsUserPreferences.xml
/.idea/migrations.xml


.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.eslintcache

.*.sw*

app/src/debug/res/raw/test_db_20230802
